@{
    ViewBag.Title = "Home";
}

<div class="content">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Home</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success text-center">
                        This is DEMO project using C# ASP.NET MVC that implement Repository Design Pattern & Unity Container.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

